
 <div class="container-fluid">
    <div class="row boxColour text-center">

            <h2 class="text-center">Lets Play!</h2>
            <span>Using +, -, *, /, and = exactly once, complete the equation. 3 minutes is all you've got!</span>

            <!-- <button class="btn text-center pull-right btn-circle">{{main.timeLeft}}</button> -->

            <!--{{main.inputs}}; <br>-->
            <div>&nbsp;</div>
            <button class="btn text-center customButton" ng-click="main.startGame()">{{main.introText}}</button>
            <button class="btn text-center pull-right btn-circle">{{main.timeLeft}}</button>

            
            <div>&nbsp;</div><div>&nbsp;</div>

            <form class="form-inline">
              <div class="form-group smallBlock">
                <b><p class="form-control-static">{{main.inputs.numbers[0]}}</p></b>
              </div>
              
              <div class="form-group mx-sm-3">
                    <select class="form-control btn btn-mini" ng-model="main.testOperators[0]" required>
                        <option>+</option>
                        <option>-</option>
                        <option>*</option>
                        <option>/</option>
                        <option>=</option>
                    </select>
              </div>

              <div class="form-group smallBlock">
                <b><p class="form-control-static">{{main.inputs.numbers[1]}}</p></b>
              </div>

              <div class="form-group mx-sm-3">
                    <select class="form-control btn btn-mini" ng-model="main.testOperators[1]" required>
                        <option>+</option>
                        <option>-</option>
                        <option>*</option>
                        <option>/</option>
                        <option>=</option>
                    </select>
              </div>

              <div class="form-group smallBlock">
                <b><p class="form-control-static">{{main.inputs.numbers[2]}}</p></b>
              </div>

              <div class="form-group mx-sm-3">
                    <select class="form-control btn btn-mini" ng-model="main.testOperators[2]" required>
                        <option>+</option>
                        <option>-</option>
                        <option>*</option>
                        <option>/</option>
                        <option>=</option>
                    </select>
              </div>

              <div class="form-group smallBlock">
                <b><p class="form-control-static">{{main.inputs.numbers[3]}}</p></b>
              </div>

              <button class="btn text-center customButton" ng-click="main.validate()">Check Result</button>

            </form>
            <div class="error">{{main.validationError}}&nbsp;</div>

            <div>&nbsp;</div>
            <b>
            <div class="row">
              <div class="col-sm-6">SCORE SO FAR...</div>
              <div class="col-sm-2">Correct</div>
              <div class="col-sm-1">{{main.correct}}</div>
              <div class="col-sm-2">Incorrect</div>
              <div class="col-sm-1">{{main.incorrect}}</div>
            </div>
            </b>


    </div>
</div>