
 <div class="container">
    <div class="row boxColour text-center">

            <button class="btn text-center pull-right btn-circle">{{main.timeLeft}}</button>

            <div>&nbsp;</div>
            <div class="row">
                <div class="col-sm-12 text-center"><b>Instructions</b></div>
                <div class="col-sm-12 ">Use '+' , '-', '*', '/' and '=' to balance the equations.</div>
                <div class="col-sm-12">You would get three minutes to balance as many equations as you can.</div>
                <div class="col-sm-12">'=' can be used only once.</div>
            </div>

            <!-- <button class="btn text-center pull-right btn-circle">{{main.timeLeft}}</button> -->

            <!--{{main.inputs}}; <br>-->
            <div>&nbsp;</div>
            <button class="btn text-center customButton" ng-click="main.startGame()">{{main.introText}}</button>

            
            <div>&nbsp;</div><div>&nbsp;</div>

            <form class="form-inline">
              <div class="form-group smallBlock">
                <b><p class="form-control-static">{{main.inputs.numbers[0]}}</p></b>
              </div>
              
              <div class="form-group mx-sm-3">
                    <select class="form-control btn btn-mini" ng-model="main.testOperators[0]" required>
                        <option>+</option>
                        <option>-</option>
                        <option>*</option>
                        <option>/</option>
                        <option>=</option>
                    </select>
              </div>

              <div class="form-group smallBlock">
                <b><p class="form-control-static">{{main.inputs.numbers[1]}}</p></b>
              </div>

              <div class="form-group mx-sm-3">
                    <select class="form-control btn btn-mini" ng-model="main.testOperators[1]" required>
                        <option>+</option>
                        <option>-</option>
                        <option>*</option>
                        <option>/</option>
                        <option>=</option>
                    </select>
              </div>

              <div class="form-group smallBlock">
                <b><p class="form-control-static">{{main.inputs.numbers[2]}}</p></b>
              </div>

              <div class="form-group mx-sm-3">
                    <select class="form-control btn btn-mini" ng-model="main.testOperators[2]" required>
                        <option>+</option>
                        <option>-</option>
                        <option>*</option>
                        <option>/</option>
                        <option>=</option>
                    </select>
              </div>

              <div class="form-group smallBlock">
                <b><p class="form-control-static">{{main.inputs.numbers[3]}}</p></b>
              </div>

              <button class="btn text-center customButton" ng-click="main.validate()">Submit</button>

            </form>
            <div class="error">{{main.validationError}}&nbsp;</div>

            <div>&nbsp;</div>
            <b>
            <div class="row">
              <div class="col-sm-6"></div>
              <div class="col-sm-2">Correct</div>
              <div class="col-sm-1">{{main.correct}}</div>
              <div class="col-sm-2">Incorrect</div>
              <div class="col-sm-1">{{main.incorrect}}</div>
              &nbsp;
            </div>
            </b>


    </div>
</div>